*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container {
  width: 1166px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo_highlited {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
}
.header {
  color: #4d5ae5;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.first-div {
  display: flex;
}
.header-studio {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2em;
  text-align: left;
}
.address-link {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
.main-section {
  color: #ffffff;
  font-family: Roboto;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin: 0 auto 48px;
}
.main {
  background-color: #2e2f42;
  text-align: center;
  padding: 188px 0;
}
.section-btn {
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  display: flex;
  border-radius: 4px;
  margin: 0 auto;
  max-width: 169px;
}
.section-btn:hover,
.section-btn:focus {
  background-color: #404bbf;
}
.main-section-list {
  display: flex;
  gap: 24px;
}
.main-list-info {
  display: flex;
  justify-content: center;
}
.main-list {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  margin-top: 120px;
  margin-bottom: 8px;
}
.main-list-text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  max-width: 264px;
  margin-bottom: 120px;
}
.photo-section {
  background-color: #f4f4fd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team {
  /* Header 2 */
  color: #2e2f42;
  font-family: Roboto;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.team-list {
  background-color: #f4f4fd;
  display: flex;
  margin: 232px auto 120px;
  gap: 24px;
}
.portfolio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portfolio-list {
  display: flex;
  margin: 232px auto 168px;
  justify-content: center;
  flex-wrap: wrap;
}
.main-list-portfolio {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  margin-top: 32px;
  margin-bottom: 8px;
}
.main-list-text-portfolio {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
.team-items {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-items-text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
.header-link-item {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-link-item:hover {
  color: #404bbf;
}
.header-link-item:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
  display: flex;
  gap: 40px;
}
.footer-logo_highlited {
  color: #f4f4fd;
}
.hero {
  font-style: normal;
}
.team-item-first {
  background-color: #ffffff;
}
.header-link {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  justify-content: flex-end;
}
.footer-logo {
  margin: 100px auto 16px;
  display: flex;
}
.footer-text {
  max-width: 264px;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
